<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label >Service</label>
                <ul class="unstyled">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact & support</a></li>
                    <li><a href="#">Site status</a></li>
                    <li><a href="#">Web analytics</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <label>Applications</label>
                <ul class="unstyled">
                    <li><a href="#">Products for Web</a></li>
                    <li><a href="#">Products for mobile</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <label>Social</label>
                <ul class="unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">JustDial</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <a href="#">Terms of Service</a>
                &nbsp; | &nbsp;
                <a href="#">Privacy</a>
                &nbsp; | &nbsp;
                <a href="#">Security</a>
            </div>
            <div class="col-md-4">
                <p class="muted pull-right">© 2017 Fancy. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
