<div class="container" ng-controller="ClientSelectionController as clientSelector" ng-show="clientSelector.isAuthenticated()">
<div class="row" ng-show="! clientSelector.editEnabled">
    <div class="col-md-3">
        <div class="row">
            <label>Client</label>
            {{clientSelector.clientName}}

        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <label >Location</label>
            {{clientSelector.locationName}}
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <label >Building</label>
            {{clientSelector.buildingName}}
        </div>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" ng-click="toggleEdit()" >{{clientSelector.editButtomLabel}}</button>
    </div>
</div>
<div  ng-show="clientSelector.editEnabled">
<form name="form" role="form" novalidate >
        <div class="col-md-3">
            <div class="form-group" >
                <div class="row">
                    <div class="col-md-4">
                        <label >Client</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control"  ng-model="selectedClient" ng-options="client as client.clientName for client in clientSelector.clients"
                                ng-change="onClientChangeEvent(this)" ng-disabled="! clientSelector.editEnabled" >
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" >
                <div class="row">
                    <div class="col-md-4">
                        <label >Location</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control"  ng-model="selectedLocation" ng-options="location as location.locationName for location in clientSelector.locations"
                                ng-change="onLocationChangeEvent()" ng-disabled="! clientSelector.editEnabled">
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" >
                <div class="row">
                    <div class="col-md-4">
                        <label >Building</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control"  ng-model="selectedBuilding" ng-options="bldg as bldg.name for bldg in clientSelector.buildings"
                                ng-change="onBuildingChangeEvent()" ng-disabled="! clientSelector.editEnabled">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" ng-click="toggleEdit()" >{{clientSelector.editButtomLabel}}</button>
        </div>
    </form>
</div>
</div>
